<h1>Orders</h1>
<% @orders.each do |order| %>
    <div class='row'>
        <div class='col-2'>
            <%= order.status %>
        </div>
        <div class='col-6'>
           <%= order.street_address %>
           <%= order.city %>
           <%= order.state %>
           <%= order.zip %>
        </div>
        <div class='col-2'>
            $<%= order.total %>
        </div>
        <div class='col-2'>
            <% if order.status == 'Submitted' %>
                <%= link_to 'Prepare', prepare_path(order), method: :put, class: 'btn btn-secondary btn-sm' %>
            <% elsif order.status == 'Preparing' %>
                <%= link_to 'Enroute', enroute_path(order), method: :put, class: 'btn btn-secondary btn-sm' %>
            <% elsif order.status == 'Enroute' %>
                <%= link_to 'Deliver', deliver_path(order), method: :put, class: 'btn btn-secondary btn-sm' %>
            <% elsif order.status == 'Delivering' %>
                <%= link_to 'Complete', complete_path(order), method: :put, class: 'btn btn-secondary btn-sm' %>
            <% end %>
        </div>
        <% if order.status == 'Preparing' %>
            <% order.order_dishes.each do |order_dish| %>
                <div class='media mt-3'>
                    <%= image_tag order_dish.dish.picture, height: 100, width: 100, class: 'mr-3' %>
                <div class='media-body'>
                <h5 class='mt-0'>
                    <%= order_dish.dish.name %>
                </h5>
                </div>
            </div>
                </div>
            <% end %>
        <% end %>
        </div>
    </div>
<% end %>