<h1><%= @user.first_name %> <%= @user.last_name %></h1>

<%= form_tag '/users/add_service' do %>
<%= hidden_field_tag 'user_id', @user.id %>
<%= select_tag 'service_id', options_from_collection_for_select(@services, :id, :name) %>
<%= submit_tag 'Add' %>
<% end %>

<h2>User Services</h2>

<% @user.user_services.each do |user_service| %>
    <div>
        <h5><%= user_service.service.name %></h5>
        <img src="<%= user_service.service.logo %>" height="100">
        <div class='btn btn-danger'>
            <%= link_to 'Delete', users_remove_service_path(id: user_service.id), method: :delete %>
        </div>
        <p></p>
    </div>
<% end %>




