<style>
    div{
        padding: 10px;
    }
</style>

<form action='/results' method='POST'>
    <input type='text' name='result' placeholder='Search Contacts'>
    <input type='submit' value='Go'>
</form>

<div><a href='/create'>Add New Contact</a></div>

<% @contact.each do |c| %>
    <div>
        <%= c.first_name %> |
        <%= c.last_name %> |
        <%= c.phone %> |
        <%= c.email %> |
        <%= c.address %> |
        <%= c.city %> |
        <%= c.state %> |
        <%= c.zip %>
        <a href='/edit?id=<%= c.id %>'>Edit</a>
        <a href='/delete?id=<%= c.id %>'>Delete</a>
    </div>
<% end %>

<a href='/'>Home</a>