<form action='/edit' method='POST'>
    <input type='text' name='first_name' value='<%= @edit.first_name %>'><br>
    <input type='text' name='last_name' value='<%= @edit.last_name %>'><br>
    <input type='text' name='phone' value='<%= @edit.phone %>'><br>
    <input type='text' name='email' value='<%= @edit.email %>'><br>
    <input type='text' name='address' value='<%= @edit.address %>'><br>
    <input type='text' name='city' value='<%= @edit.city %>'><br>
    <input type='text' name='state' value='<%= @edit.state %>'><br>
    <input type='text' name='zip' value='<%= @edit.zip %>'><br>
    <input type='hidden' name='id' value='<%= @edit.id %>'><br>
    <input type='submit' value='Save'>
</form>