<style>
    div{
        padding: 10px;
    }
</style>

<form action='/results' method='POST'>
    <input type='text' name='result' placeholder='Search Contacts'>
    <input type='submit' value='Go'>
</form>

<% @result.each do |contact| %>
    <div>
        <%= contact.first_name %> |
        <%= contact.last_name %> |
        <%= contact.phone %> |
        <%= contact.email %> |
        <%= contact.address %> |
        <%= contact.city %> |
        <%= contact.state %> |
        <%= contact.zip %> 
        <a href='/edit?id=<%= contact.id %>'>Edit</a>
        <a href='/delete?id=<%= contact.id %>'>Delete</a>
    </div>
<% end %>

<a href='/'>Home</a>