<!DOCTYPE html>
<html>
  <head>
    <title>Cars</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <style>
      body{
        background-color:gold;
      }
    </style>
  </head>

  <body>
    <a href='/brands'>Brands</a> | <a href='/cars'>Cars</a>
    <p></p>
    <%= yield %>
  </body>
</html>
